.contato__header {
  font-weight: 800;
  color: var(--preto);
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  padding: 15px;
  transform: skew(-20deg); /* Padrão */
  border-radius: 10px 20px 10px 20px;
  border: 2px solid var(--verde--segundario);
}

.contato__conteudo {
  display: grid;
  text-align: center;
  justify-items: center;
}
.contato__img {
  width: 75%;
}
