.nav__header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.nav__logo {
  width: 10rem;
}

.nav__img {
  width: 10rem;
}
.nav__lista {
  align-items: center;
}
.nav__item {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--cinza);
  margin-left: 1rem;
}
